<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Services.Config.GitLab" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Services.Config.ReportPortal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Services.Config.GitLab" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
    <applicationSettings>
        <Services.Config.GitLab>
            <setting name="Url" serializeAs="String">
                <value>https://gitlab.com/api/v4</value>
            </setting>
            <setting name="ProjectsResource" serializeAs="String">
                <value>/projects</value>
            </setting>
            <setting name="UsersResource" serializeAs="String">
                <value>/users</value>
            </setting>
        </Services.Config.GitLab>
        <Services.Config.ReportPortal>
            <setting name="Url" serializeAs="String">
                <value>https://gitlab.com/api/v4</value>
            </setting>
            <setting name="ProjectsResource" serializeAs="String">
                <value>/projects</value>
            </setting>
            <setting name="UsersResource" serializeAs="String">
                <value>/users</value>
            </setting>
        </Services.Config.ReportPortal>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Services.Config.GitLab>
      <setting name="MembersResource" serializeAs="String">
        <value>/members</value>
      </setting>
    </Services.Config.GitLab>
  </userSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /><plugins>
      <add name="ReportPortal" type="Runtime" />
    </plugins><stepAssemblies>
      <stepAssembly assembly="ReportPortal.SpecFlowPlugin" />
    </stepAssemblies></specFlow></configuration>