<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="reportPortal"
			type="ReportPortal.SpecFlowPlugin.ReportPortalSection, ReportPortal.SpecFlowPlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<reportPortal enabled="false">
		<server url="http://maestrorp:8080/api/v1/" project="test_project">
			<authentication password="1a37cfed-b989-48c0-8aa0-682c87a39e95"/>
		</server>
		<launch name="TM_AQA" debugMode="false" tags="tag"/>
	</reportPortal>
</configuration>